.login_fondo{
    background: none;
    background: rgb(170,155,87);
    background: linear-gradient(90deg, rgba(170,155,87,1) 42%, rgba(33,207,226,1) 100%);
    .bg{
        background-image: url(../image/login1.jpg);
        background-position: center center;
    }
    
    .boton_iniciar{
        background-color: $colorBoton;
        border: none;    
    }
}

