@media (min-width: $desktop ){
    .contenedor_divergente {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 135px auto 0 auto;
        .contenedor_divergente_info{
            width: 80%;
            height: 610px;
        }
    }
    
}
@media (max-width: $mobile ){
    .contenedor_divergente {
        display: block;
        margin-top: 132px;
        .imagen_divergente{
            text-align: center;
            img {
                width: 100%;
                max-width: 560px;
                margin-bottom: 40px;
            }
        }
        .contenedor_divergente_info{
            width: 100%;
            margin-bottom: 40px;
            h2{
                text-align: center;
            } 
        }
    }
    .interaccion_divergente{
        justify-content: center;
        margin: 0 auto !important;
    }
}

.main_divergente{
    max-width: 1300px;
    margin: 0 auto;
    .imagen_divergente{
        flex-grow: 3;
    }
    .contenedor_divergente_info{
        flex-grow: 1;
        color: $colorNegro;
        font-family: $fuente;
        font-size: $parrafoLibros;
        background-color: $fondoDivergente;
        padding: 10px;
        text-align: left;
        h2{
            font-size: $tituloLibros;
        }
    }
    .interaccion_divergente{
        display: flex;
        margin-left: 103px;
        margin-top: 20px;
        animation-name: opacidad_de_texto;
        animation-duration:2s;
    }
} 

