@media (min-width: $desktop ){
    .biografia_main {
        display: flex;
        margin-top: 132px;
    }
}
@media (max-width: $mobile ){
    .biografia_main{
        display: block;
        margin-top: 132px;
        .biografia_imagen{
            text-align: center;
            img {
                width:100% ;
                max-width: 800px;
                text-align: center;
            }
        } 
    }
    .fondo{
        display: block !important;  
    }
}
.biografias_libros {
    order: 2;
    font-family: $fuente;
    font-size: $tituloGeneros;
    text-align: center;
    margin: 0 auto;
    h2{
        font-size: $tituloBiografias;
        padding-bottom: 71px;
        animation-name: opacidad_de_texto;
        animation-duration:2s;
    }
    ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        gap: 32px;
        margin: 0 auto;
        animation-name: opacidad_de_texto;
        animation-duration:2s;
    }
}
.biografia_imagen{
    order: 1;
}

