
nav{
    position: fixed;
    background-color: $colorBlanco;
    padding-left: 35px;
    padding-right: 35px ;
    width: 100%;
    top: 0;
    border-bottom: $lineadoNav;
    z-index: 20;
    animation-name: opacidad_de_texto;
    animation-duration:2s;
    ul li {
        display: inline-block;
        padding: 20px;
        position: relative;
        animation-name: opacidad_de_texto;
        animation-duration:2s;
        text-shadow: $colorSombra1, $colorSombra2;
        &:hover {
            ul {
                display: block;
            }
        }
            
        a{
            color: $colorNegro;
            text-decoration: none;
            font-size: 18px;
            font-family: $fuente;
        }
        ul{
            display: none;
            color: $colorNegro;
            position:absolute;
            background-color: $colorHover;
            padding: 10px;
            border-radius: $bordeHover;
        }
    }
    .navbar_izquierda {
        display: inline;
        vertical-align: middle;
    }
    .navbar_derecha {                                                   
        float: right;
        .menu_buton_item{          
            padding-top: 10px;
            .menu_buton {                                              
                background-color: map-get($btn , background);    
                border-radius: map-get($btn , border);
                color: map-get($btn, color);
                font-weight: map-get($btn , font );
                padding: map-get($btn, padding);
                text-decoration: map-get($btn , text_decoration  );
                text-shadow: map-get($btn , text_shadow );
            }
            .menu_bt {
                @extend .menu_buton;
            }
        }
    }
} 

