$colorBlanco: white;
$colorNegro: #000000;
$colorHover: rgb(206, 200, 200);
$colorSombra1:3px 6px 8px #868585;
$colorSombra2: -1px 2px 5px #8d8888;
$bordeHover: 20px;
$bordeBoton: 5px;
$colorBoton: #4BA7DB; 
$desktop: 1224px;
$mobile: 1223px;
$fondoWill: #F5D991;
$fondoMichelle: #BAD0CE;
$fondoFrida: #000000;
$fondoBruce: #D40A20;
$fondoMadona: #000000;
$fondoHechizo: #499A77;
$fondoBridgerton: #83AACB;
$fondoDivergente: #3F4E8B;
$fondoNiebla: #4C6B6E;
$tituloLibros: 40px;
$tituloBiografias: 50px;
$parrafoLibros: 17px;
$tituloGeneros: 35px;
$tituloAcerca: 60px;
$parrafoAcerca: 24px;
$titulosIndex: 30px;
$navbarLetras:18px;
$lineadoNav: 1px solid black;
$fuente: Arial, Helvetica, sans-serif;


$btn:(
    background: $colorBoton,   
    border: 5px,
    color: $colorBlanco,
    font: bold,
    padding: $bordeBoton,
    text_decoration:none,
    text_shadow: none,
);
